<AuthorizeView>
    <Authorized>
        สวัสดี , @context.User.Identity.Name!
        <a href="logout">ออกจากระบบ</a>
    </Authorized>
    <NotAuthorized>
        <a href="register">ลงทะเบียน</a>
        <a href="login">เข้าสู่ระบบ</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
